#github-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#github-container p{
    padding: 20px;
    font-size: 22px;
    text-align: center;
}
#github-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.git-item{
    height: 280px;
    width: 400px;
    margin: 6px;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: sepia(100%) hue-rotate(190deg) saturate(500%);
    transition: all ease 0.4s;
}
.git-item h1{
    color: #252D40;
    padding: 6px;
    height: 50px;
    width: 100%;
    text-align:center;
    background-color: #BCC6CC;
    opacity: 0.8;
    word-wrap: break-word;
    font-size: 14px;
    transition: all ease 0.4s;
}
.git-item a{
    width: 100%;
    border:     0;
}
.git-item:hover{
    filter: sepia(0%) hue-rotate(0deg) saturate(100%);
    padding: 30px 0px;
}